body {
  background-color: rgb(211, 151, 60);
  text-align: center;
}
h1 {
  font-family: 'Creepster', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60pt;
}
p {
  font-family: 'Courier New', Courier, monospace;
}
#creature {
  width: 40em;
}
.image {
  border-radius: 20px;
  width: 25em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-family: 'Courier New', Courier, monospace;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1fafa1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: right;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    /* some layout rules */
  }
}

.personal-links {
  align-items: center;
}

.sub-heading {
  background-color: antiquewhite;
  opacity: 0.8;
}

.content {
  padding: 50px;
  border: solid;
  border-style: dashed;
  margin: 20px;
}

h2,
h3 {
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
}

#margin-image {
  width: 50em;
  border-radius: 50px;
}

.p2 {
  border: solid rgba(0, 238, 255, 0.507);
  margin: 0 10 0 10;
}

.p3 {
  border: solid rgb(182, 58, 58);
  margin: 0 10 0 10;
  padding: 20px;
}

.p4 {
  border: solid rgb(69, 136, 43);
  margin: 50px;
  padding: 20px;
}

.p5 {
  text-decoration: underline;
}

.bottom-margin {
  margin-bottom: 65px;
}

h2 {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(18, 106, 120);
  text-decoration: line-through;
}

a:link {
  color: rgb(28, 125, 28);
}

table,
th,
td {
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  border: #1fafa1;
  border-style: double;
  text-align: left;
  margin: inherit;
}
